*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smooothing: antialiased;
}
:root{
    --primary-color: #25df8f;
    --border-color:#d9dde7; 
    --secondary-text-color:#949FB7;
    --primary-text-color:#1A1A1A;
    --tertiary-text-color:#596172;
    --border-color:#d9dde7;
    --primary-white-color:#fff;
    --apartment-background-color: #f6f6f7;
}

body{
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

input{
    border: none;
    outline: none;
    color: var(--secondary-text-color);
}

.container{
    margin-inline: 0 5rem;

}
.flex{
    display: flex;
}

/* styling navigation */
nav {
    padding: 0.5rem 1rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    

}
.first-half{
    gap: 2.5rem;
    align-items: center;
}
.logo{
    margin-top:5px;
}

.search{
    border: 0.5px solid var(--border-color);
    padding: 0.4rem;
    border-radius: 3px;
    gap: 1rem;


}
.search input{
    width: 15rem;
}

.second-half{
    gap: 1rem;
}

.nav-links{
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

.nav-links li a{
    color: var(--tertiary-text-color);
    font-size: 20px;
    font-weight: bold;
}

/* home section styling */

